r2_access_key_id     = ""
r2_secret_access_key = ""
r2_account_id        = "bb6790c88b8d2bc803aa89630c8a9721"
r2_bucket            = "lionel"
# lionel_db_path     = "../latest.duckdb"   # optional: local file instead of R2, for dev
